- var i = 0

html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		div.freeze
			a(href='/year/' + previousYear) #{previousYear}
			h1 #{yearHeader}
			a(href='/year/' + nextYear) #{nextYear}
			button#confirm Confirm
		div.dayHeader
			h1 #{thisDate.date} - #{thisDate.day}
		div.dayView
			div.calendarDay 
				- var id = `${thisDay}-${thisMonth}-${thisYear}`;
				
				while i < 5
					div(id=id+'-'+i, class='selector') 
					- i++
				- i = 0
			div.sidebar
				each customer in monthCustomerInfo.customers
					p #{customer.nickname}
						each unit in customer.units
							- var customerCSSClass = customer.nickname.replace(/\s+/g, '-').toUpperCase()
							- var thisCustomer = customer.nickname
							- var thisUnit = unit.name
							- var thisInspection = unit.inspection
							div.calendarUnitWrapper
								div(data-customer=thisCustomer, data-unit=thisUnit , data-inspection=thisInspection, class='CUSTOMER-' + customerCSSClass).calendarUnit
									p.status 🗙
									p #{unit.name}
									p.inspection #{unit.inspection}
								button.clearUnit Clear
		
		script(type='text/javascript', src='/js/getSavedData.js')
		script(type='text/javascript', src='/js/clearButton.js')
		script(type='text/javascript', src='/js/confirmButton.js')
		script(type='text/javascript', src='/js/selectorScript.js')
		script(type='text/javascript', src='/js/unitScript.js')
		script(type='text/javascript', src='/js/calendar.js')