- var i = 0

html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inter')
	body
		div.freeze.dayViewFreeze
			a(href='/year/' + previousYear) #{previousYear}
			h1 #{yearHeader}
			a(href='/year/' + nextYear) #{nextYear}
			div#confirm
				button Confirm
			div.hideSidebarButton
					a#hideSidebarText
		div.dayHeader
			h1 #{thisDate.day}
			h1 #{info.thisMonth} #{info.thisDay}, #{info.thisYear}
			h3 Go back to 
				a(href=`/year/${info.thisYear}/month/${info.thisMonth}`).link #{info.thisMonth}
		div.dayView
			div.calendarDay.dayViewCalendarDay
				- var id = `${thisDay}-${thisMonth}-${thisYear}`;
				
				while i < 6
					div(id=id+'-'+i, class='selector') 
					- i++
				- i = 0
			div.dayViewSidebar
				include includes/sidebar.pug
			
		script(type='text/javascript', src='/js/create.js')
		script(type='text/javascript', src='/js/getSavedData.js')
		script(type='text/javascript', src='/js/clearButton.js')
		script(type='text/javascript', src='/js/confirmButton.js')
		script(type='text/javascript', src='/js/selectorScript.js')
		script(type='text/javascript', src='/js/unitScript.js')
		script(type='text/javascript', src='/js/calendar.js')