- var i = 0

html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		div.freeze
			a(href='/year/' + previousYear) #{previousYear}
			h1 #{yearHeader}
			a(href='/year/' + nextYear) #{nextYear}
			button#confirm Confirm
			div
				each month in yearToBuild.months
					a(href='#' + month.month) #{month.month}
		div.monthViewHeader
			h1 #{month}
		div.monthView
			div.calendarDayWrapper
				<span class='dayHeader'>Mon</span>
				<span class='dayHeader'>Tue</span>
				<span class='dayHeader'>Wed</span>
				<span class='dayHeader'>Thu</span>
				<span class='dayHeader'>Fri</span>
				<span class='dayHeader'>Sat</span>
				<span class='dayHeader'>Sun</span>

				each day in monthHTMLInfo.days
					if day.date === 1
						div(style=`grid-column-start: ${day.offset}`).calendarDay
							- var id = `${day.date}-${monthHTMLInfo.month}-${yearToBuild.year}`;
							a(href=`${monthHTMLInfo.month}/day/${day.date}`)
											p #{day.date} - #{day.day}
							while i < 5
								div(id=id+'-'+i, class='selector') 
								- i++
							- i = 0
					else
						div.calendarDay 
							- var id = `${day.date}-${monthHTMLInfo.month}-${yearToBuild.year}`;
							a(href=`${monthHTMLInfo.month}/day/${day.date}`)
											p #{day.date} - #{day.day}
							while i < 5
								div(id=id+'-'+i, class='selector') 
								- i++
							- i = 0
			
			include includes/sidebar.pug
		script(type='text/javascript', src='/js/create.js')
		script(type='text/javascript', src='/js/getSavedData.js')
		script(type='text/javascript', src='/js/clearButton.js')
		script(type='text/javascript', src='/js/confirmButton.js')
		script(type='text/javascript', src='/js/selectorScript.js')
		script(type='text/javascript', src='/js/unitScript.js')
		script(type='text/javascript', src='/js/calendar.js')