- var i = 0

html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inter')
	body
		div.freeze.monthFreezePane
			div.monthNavigation.monthViewNavigation
				each month in yearToBuild.months
					a(href=`/year/${yearToBuild.year}/month/` + month.month) #{month.month}
			div#confirm.monthViewConfirm
				button Confirm
			div.hideSidebarButton
					a#hideSidebarText
		div.monthViewHeader
			h1 #{yearToBuild.year}
			h1 #{month}
			h3 Go back to 
				a(href=`/year/${yearToBuild.year}`).link #{yearToBuild.year} 
		div.monthView
			div.calendarDayWrapper
				<span class='dayHeader'>Mon</span>
				<span class='dayHeader'>Tue</span>
				<span class='dayHeader'>Wed</span>
				<span class='dayHeader'>Thu</span>
				<span class='dayHeader'>Fri</span>
				<span class='dayHeader'>Sat</span>
				<span class='dayHeader'>Sun</span>

				each day in monthHTMLInfo.days
					if day.date === 1
						div(style=`grid-column-start: ${day.offset}`).calendarDay
							- var id = `${day.date}-${monthHTMLInfo.month}-${yearToBuild.year}`;
							a(href=`${monthHTMLInfo.month}/day/${day.date}`)
								p.day #{day.date} 
								//- - #{day.day}
							while i < 6
								div(id=id+'-'+i, class='selector') 
								- i++
							- i = 0
					else
						div.calendarDay 
							- var id = `${day.date}-${monthHTMLInfo.month}-${yearToBuild.year}`;
							a(href=`${monthHTMLInfo.month}/day/${day.date}`)
								p.day #{day.date}
								//-  - #{day.day}
							while i < 6
								div(id=id+'-'+i, class='selector') 
								- i++
							- i = 0
			
			include includes/sidebar.pug
		script(type='text/javascript', src='/js/create.js')
		script(type='text/javascript', src='/js/getSavedData.js')
		script(type='text/javascript', src='/js/clearButton.js')
		script(type='text/javascript', src='/js/confirmButton.js')
		script(type='text/javascript', src='/js/selectorScript.js')
		script(type='text/javascript', src='/js/unitScript.js')
		script(type='text/javascript', src='/js/calendar.js')