- var j = 0

div.sidebar
	div.createUnitDiv
		button.createButton Add Item to Calendar
		div.unitCreationDiv.hide
			form(action=`/year/${requestedYear}/${requestedMonth}`, method='POST', id='CreateUnitForm')
				//- input(type="text", placeholder='Company', name='companyName')
				select(name='companyName', id='CompanyDropDown')
					each companyName in FilteredCompanyList
						if i === 1
							option(value=`${companyName}`, selected) #{companyName}
						else
							option(value=`${companyName}`) #{companyName}
						- i++
				input(type="text", placeholder='Unit Name', name='unitName')
				input(type="text", placeholder='Inspection', name='inspection')
				//- input(type="text", placeholder='Specification', name='specification')
				select(name='specification')
					option 406
					option 407
					option 331
					option IBC
				//- input(type="text", placeholder='Shop - Surrey/Nanaimo', name='shop')
				select(name='shop') Select a shop
					option(value='Surrey') Surrey
					option(value='Nanaimo') Nanaimo
				button(id='CreateUnitFormSubmitButton') Submit
	each company in monthUnitsByCompany
		div.sidebar-CompanyDiv
			div.sidebar-CompanyHeader
				span #{company.name}
			each unit in company.units
				if(company.style)
					div(style=`background-color: #${company.style.backgroundColor}; border: 1px solid #${company.style.borderColor}; color: #${company.style.textColor};`, data-shop=unit.shop, data-unit=unit.unit, data-customer=company.name, data-inspection=unit.inspection, data-id=unit.id class=company.name.replace(/\s+/g, '-')).sidebar-UnitHeader
						span #{unit.unit.replace(/-/g, '/')}
						span #{unit.inspection}
						span #{unit.spec}
						button(data-shop=unit.shop, data-inspection=unit.inspection, data-unit=unit.unit.replace(/\//g, '-'), data-customer=company.name, data-year=requestedYear, data-month=requestedMonth, data-id=unit.id).clearAllButton Clear
						if unit._id
							button(data-shop=unit.shop, data-inspection=unit.inspection, data-unit=unit.unit.replace(/\//g, '-'), data-customer=company.name, data-year=requestedYear, data-month=requestedMonth, data-id=unit.id).deleteUnitButton Delete
						button(data-shop=unit.shop, data-inspection=unit.inspection, data-unit=unit.unit, data-customer=company.name, data-year=requestedYear, data-month=requestedMonth, data-id=unit.id).editUnitButton Edit
				else
					div(data-shop=unit.shop, data-unit=unit.unit, data-customer=company.name, data-inspection=unit.inspection, data-id=unit.id class=company.name.replace(/\s+/g, '-')).sidebar-UnitHeader
						span #{unit.unit.replace(/-/g, '/')}
						span #{unit.inspection}
						span #{unit.spec}
						button(data-shop=unit.shop, data-inspection=unit.inspection, data-unit=unit.unit.replace(/\//g, '-'), data-customer=company.name, data-year=requestedYear, data-month=requestedMonth, data-id=unit.id).clearAllButton Clear
						if unit._id
							button(data-shop=unit.shop, data-inspection=unit.inspection, data-unit=unit.unit.replace(/\//g, '-'), data-customer=company.name, data-year=requestedYear, data-month=requestedMonth, data-id=unit.id).deleteUnitButton Delete
						button(data-shop=unit.shop, data-inspection=unit.inspection, data-unit=unit.unit, data-customer=company.name, data-year=requestedYear, data-month=requestedMonth, data-id=unit.id).editUnitButton Edit
